<!DOCTYPE html>
<html>
<head>
    <title>{{ todo_list.name }} Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <a href="{% url 'todo_list_update' id=todo_list.id %}">Edit this list</a>
            <a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete this list</a>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list.items.all %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No tasks found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
