<!doctype html>
<html>
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for todo in todos.all %}
                            <tr>
                                <td><a href="{% url 'todo_list_detail' id=todo.id %}">{{ todo.name }}</a></td>
                                <td>{{ todo.items.count }}</td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
